.App{
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  border-bottom: 2px solid rgb(238, 238, 238);
}
.container {
  margin: 5px auto;
  max-width: 700px;
  /* background-color: rgb(224, 139, 139); */

}
form p:first-child {
  margin: 10px 0;
  font-size: 18px;
}
form{
    border-bottom: 2px solid rgb(238, 238, 238);
}
.container label {
    margin: 3px 0;
  font-size: 12px;
  display: block;
}
.container input {
  width: 100%;
}

.submit{
    margin: 10px 0;
    padding: 4px 12px;
    background-color: rgb(48, 140, 201);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.list{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(238, 238, 238);
}
.list-in{
    display: flex;
    flex-direction: column;
}
.list-in p{
    font-size: 12px;
    margin: 0 5px;
}
.list-in p:first-child{
    font-weight: bold;
    font-size: 13px;
}
.list-out{
    display: flex;
    align-items: center;  
    margin: 10px;  
    font-size: 21px;
}
.delbut{
    border: none;
    background-color: transparent;
    color: rgb(230, 10, 10);
    font-size: 18px;
    margin: 2px;
}
input{
    border:1px solid rgb(238, 238, 238);
    padding: 3px;
}
input::placeholder{
    color: rgb(238, 238, 238);;
}